doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title XBOX
    body 
        .wrapper 
            include ../../components/allpages/mainpage/header/header.pug
            main.main 
                .main__present 
                    .present 
                        .present__container 
                            .present__body 
                                .present__content 
                                    .present__title Star Wars 
                                    .present__subtitle Battlefront II 
                                    .present__buttons 
                                        button.present__trailer(type='submit') Watch Trailer
                                        button.present__games(type='submit') Explore Games 
                .main__entertainment 
                    .entertainment 
                        .entertainment__container 
                            .entertainment__body 
                                .entertainment__ball 
                                    img(src=require('../../img/svg/ball.png'))
                                .entertainment__title The best value
                                .entertainment__subtitle in games and entertainment
                                .entertainment__row 
                                    .entertainment__column 
                                        .entertainment__content 
                                            .entertainment__picture 
                                                img(src=require('../../img/svg/gameplay1.png'))
                                            .entertainment__epigraph XBOX ONE X
                                            .entertainment__text Faster Processing
                                            .entertainment__text(class='entertainment__text-last') Smoother Gameplay
                                            button.entertainment__button(type='submit') Explore Consoles & Accessories
                                    .entertainment__column(class='entertainment__column2') 
                                        .entertainment__content 
                                            .entertainment__picture2 
                                                img(src=require('../../img/svg/gameplay2.png'))
                                            .entertainment__epigraph mixer Streaming
                                            .entertainment__text The Next Generation
                                            .entertainment__text(class='entertainment__text-last') Of Life Game Streaming
                                            button.entertainment__button(type='submit') Start Watching mixer 
                                    .entertainment__column(class='entertainment__column3') 
                                        .entertainment__content 
                                            .entertainment__picture3 
                                                img(src=require('../../img/svg/gameplay3.png'))
                                            .entertainment__epigraph Free Games Every Month
                                            .entertainment__text Get up to $700 in
                                            .entertainment__text(class='entertainment__text-last') free games
                                            button.entertainment__button(type='submit') Get Free Games 
                .main__store 
                    .store 
                        .store__container 
                            .store__body 
                                .store__title Exclusive games on XBOX 
                                .store__row 
                                    .store__column 
                                        .store__content 
                                            .store__picture
                                                img(src=require('../../img/svg/img1.png') alt='img1')
                                            .store__epigraph(class='store__epigraph1') Call of Duty: WWII
                                            .store__text The C.O.D.E. Bravery Pack
                                            .store__text(class='store__text2') is now available in WWII
                                            button.store__button(type='submit') See Details
                                    .store__column(class='store__column2') 
                                        .store__content 
                                            .store__picture 
                                                img(src=require('../../img/svg/img2.png') alt='img2')
                                            .store__epigraph(class='store__epigraph2') Destiny 2
                                            button.store__button(type='submit') See Details
                                    .store__column 
                                        .store__content 
                                            .store__picture 
                                                img(src=require('../../img/svg/img3.png') alt='img3')
                                            .store__epigraph(class='store__epigraph3') STEEP
                                            button.store__button(type='submit') See Details
                                    .store__column(class='store__column4') 
                                        .store__content 
                                            .store__picture 
                                                img(src=require('../../img/svg/img4.png') alt='img4')
                                            .store__epigraph(class='store__epigraph4') Forza Motorsport 7
                                            button.store__button(class='store__button4' type='submit') See Details


